@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 0 0% 4%;
  --bglight: 0 0% 16%;
  --bglighter: 0 0% 24%;
  --text: 0 0% 100%;
  --textlight: 0 0% 80%;
  --textlighter: 0 0% 60%;
  --accent: 22 96% 49%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: 0 0% 4%;
    --bglight: 0 0% 16%;
    --bglighter: 0 0% 24%;
    --text: 0 0% 100%;
    --textlight: 0 0% 80%;
    --textlighter: 0 0% 60%;
  }
}

body {
  color: var(--text);
  background: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  list-style: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
